{% extends 'main-base.html' %}

{% block title %}Akshell Blog{% endblock %}

{% block extra-head %}
  <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/jankstar">
{% endblock %}

{% block breadcrumbs %}Blog{% endblock %}

{% block content %}
  {% for post in posts %}
    <h1><a href="{% url 'post' post.slug %}">Titel:{{ post.title }}</a></h1>
    {{ post.text|safe }}
    <div class="tail">
      {{ post.date|toString:'D' }} by {{ post.author }}
      <a class="comments" href="{% url 'post' post.slug %}#disqus_thread">View Comments</a>
    </div>
  {% endfor %}
{% endblock %}